# vite default structure
node_modules
.DS_Store
dist
dist-ssr
*.local

# ignore yarn framework
yarn.lock

# ignore output folder
plugin

# ignore config folder for common editors
.vscode
.idea

# ignore sketches folder
sketches
