// make child elements center (col)
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-scroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

// font-family for monospaced area
.mono {
  font-family: monospace,
    "HarmonyOS Sans",
    "JetBrains Mono",
    "Sarasa Mono",
    "Cascadia Code",
    "consolas",
    "courier"
  ;
}
