// make child elements center (col)
.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hide-scroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}
