.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

$btn-bg: #9b9b9b;
$btn-highlight: #5993ce;

.default-font {
  font-size:  0.92rem;
  color: #898989;
  font-family:
    sans-serif,
    "HarmonyOS Sans SC",
    "PingFang SC",
    "Source Han Sans",
    "Microsoft YaHei UI",
    "Helvetica",
    "Arial"
  ;
}

.hide-scroll {
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
}

.single-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
